<div class="comments">
  {{#each this}}
  <section class="comment border-top border-bottom border-6">
    <div>
      <p class="text">{{comment_text}}</p>
      <p class="mb-2 text-muted text-warning"><a class="text-warning" href="/user-page/{{id}}" class="edit-link text-dark">{{user.username}}</a> on {{format_date created_at}}</p>
    </div>
  </section>
  {{/each}}
</div>