<a class="text-warning" href="/dashboard"> &larr; Back to dashboard</a>
</br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class=" p-3 m-5 border border-5 border-warning rounded col-8">
      <h3 class="text-center">Edit Bio</h3>
      </br>
      <form class="edit-bio-form">
        <div class="form-group">
          <label for="bio" class="form-label">title</label>
          <input name="bioe" type="text" class="form-control" value="{{post.title}}">
        </div>
        
        <div>
          <button type="submit" class="btn btn-outline-warning">save post</button>
          <button type="button" class="btn btn-outline-warning delete-post-btn">delete post</button>
        </div>
      </form>
      </br>

      {{> comments post.comments}}
    </div>
  </div>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>