{{!-- homepage --}}
{{!-- landing page will include background image and possibly additional content? --}}
<div class="container">
  <div class="row justify-content-md-center">
    <div class=" p-3 m-5 border border-5 rounded col-8  text-center">
      <h3>welcome to Draft Room!</h3>
      </br>
      </br>
      </br>
      {{!-- content/something here? --}}
      </br>
      </br>
      </br>
      </br>
      <h5>please login or sign up to begin</h5>
      <section class="m-1 row justify-content-md-center">
      <button type="button" class="m-2 btn btn-outline-warning"><a class="text-secondary" href="/login"</a>login</button>
      <button type="button" class="m-2 btn btn-outline-warning"><a class="text-secondary" href="/signup"</a>signup</button>
      </section>
    </div>
  </div>
</div>