{{!-- homepage --}}
{{!-- landing page will include background image and possibly additional content? --}}
    
  <div class="card container-fluid bg-transparent border-warning">
    <div class="card-body">
      <div class="text-center">
        <h3>Welcome to the</h3>
        <h1>DRAFT ROOM!</h1>
        <h5>Please login or sign up to begin.</h5>
          <button type="button" class="m-2 btn btn-warning"><a class="text-white" href="/login"</a>Login</button>
          <button type="button" class="m-2 btn btn-warning"><a class="text-white" href="/signup"</a>Signup</button>
      </div>
    </div>
  </div>