{{!-- login form --}}
<div class="container">
  <div class="row justify-content-md-center">
    <div class=" p-3 m-5 border border-5 rounded col-8">

      <h2 class="p-1 titleFont">LOGIN</h2>
      <form class="login-form m-3 p-3">
        <div class="mb-3">
          <label for="email-login" class="form-label textFont">email:</label>
          <input type="text" class="form-control contentFont" id="email-login" />
        </div>
        <div class="mb-3">
          <label for="password-login" class="form-label textFont">password:</label>
          <input type="password" class="form-control contentFont" id="password-login" />
        </div>
        <button type="submit" class="btn btn-warning textFont">login</button>
      </form>

      </br>
      <a class="text-warning titleFont" href="/"> &larr; back</a>

    </div>
  </div>
</div>


<script src="/javascript/login.js"></script>