<div class="container">
    <a class="text-warning textFont" href="/dashboard"> &larr; Back to dashboard</a>
    <div class="row justify-content-md-center">
        <div class=" p-3 m-5 border border-5 border-warning rounded col-12">
            <h3 class="text-center titleFont">New Post</h3>
            <div>
                <form class="m-2 p-2" id="new-post-form">
                    <div class="form-group new-post-form">
                        <label for="post-title" class="form-label fs-4 textFont">title:</label>
                        </br>
                        <textarea class="form-control contentFont" type="text" id="post-title" name="post-title"></textarea>
                    </div>
                    </br>
                    <div class="form-group">
                        <label for="content" class="form-label textFont">content:</label>
                        </br>
                        <textarea class="form-control contentFont" id="content" name="content" rows="4"></textarea>
                    </div>
                    <button type="submit" id="create-post" class="btn btn-warning textFont">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script>