<section>
    <h2 class="navFont m-1 p-1">Create New Post</h2>
    <form class="m-2 p-2" id="new-post-form">
        <div class="form-group new-post-form textFont">
            <h4 for="post-title">title:</h4>
            </br>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div class="form-group textFont">
            <h4 for="content">post content:</h4>
            </br>
            <input id="content" name="content" rows="3"/>
        </div>
        <button type="submit" id="create-post" class="btn btn-warning">Create</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>