{{!-- sign up form --}}
<div class="container">
    <div class="row justify-content-md-center">
        <div class=" p-3 m-5 border border-5 rounded col-8">

            <h3 class="p-1">SIGN UP</h3>
            <form id="signup-form" class="signup-form m-3 p-3">
                <div class="mb-3">
                    <label for="username-signup" class="form-label">username</label>
                    <input type="text" class="form-control" id="username-signup">
                </div>
                <div class="mb-3">
                    <label for="password-signup" class="form-label">password</label>
                    <p class="font-weight-lighter">(must be at least 4 characters long!)</p>
                    <input type="password" class="form-control" id="password-signup">
                </div>
                </br>
                <button type="submit" class="btn btn-warning">sign up</button>
            </form>

            </br>
            <a class="text-secondary" href="/"> &larr; back</a>

        </div>
    </div>
</div>

<script src="/javascript/signup.js"></script>