{{!-- sign up form --}}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class=" p-3 m-5 border border-5 rounded col-8">

            <h3 class="p-1">SIGN UP</h3>
            <form id="signup-form" class="signup-form m-3 p-3">
                <div class="mb-3">
                    <label class="form-label" for="username-signup">username:</label>
                    <input class="form-control" type="text" id="username-signup" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email-signup">email:</label>
                    <input class="form-control" type="text" id="email-signup" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password-signup">password:</label>
                    <input class="form-control" type="password" id="password-signup" />
                </div>
                </br>
                <button type="submit" class="btn btn-warning">sign up</button>
            </form>

            </br>
            <a class="text-warning" href="/"> &larr; back</a>

        </div>
    </div>
</div>

<script src="/javascript/signup.js"></script>