<div class="container">
      <a class="text-warning" href="/homepage"> &larr; back to homepage</a>
      </br>
      </br>
  <div class="row justify-content-md-center">
    <div class="border border-5 rounded col-10">
      {{> post-info post}}

      {{#if loggedIn}}
      <form class="comment-form m-2 p-2" id="comment-form">
        <div>
          <textarea name="comment-body"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-warning">add comment</button>
        </div>
      </form>
      </br>
      {{/if}}

      {{> comments post.comments}}

    </div>
  </div>
</div>


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}