.titleFont {
    font-family: 'Comfortaa', cursive;
}

.textFont {
    font-family: 'Slabo 13px', serif;
}

.inputFont {
    font-family: 'Belleza', sans-serif;
}

.contentFont {
    font-family: 'Montserrat', sans-serif;
}


